@use '/src/styles/_mixins' as *;

.wrapperInput{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include borderRadius (10);
    @include padding(10,10,10,10);
    @include mediaBorderRadius (10);
    @include mediaPadding (10,10,10,10);
    svg{
        @include width(20);
        @include height(20);
        @include mediaWidth(20);
        @include mediaHeight(20);
    }
}

.input{
    background: transparent;
    border-radius: calc((10 / 1920) * 100vw);
    width: 100%;
    outline: none;
    border: 0;
    @include margin(0,0,0,10);
    @include mediaHeight(20);
    @include mediaFontSize(14);
    @include mediaMargin (0,0,0,10);
}
