@use '/src/styles/_mixins' as *;
.button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 0;
    color: white;
    margin-left: auto;
    margin-right: auto;
    @include borderRadius (10);
    @include padding (10,20,10,20);
    @include mediaBorderRadius (10);
    @include mediaPadding (10,20,10,20);
}
.button{
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    @include borderRadius (10);
    @include padding(10,20,10,20);
    @include mediaPadding(5,10,5,10);
    @include mediaBorderRadius (10);
    @media (max-width:850px) {
        flex-direction: column;
        text-align: center;
        height: auto;
    }
}