@use '/src/styles/_mixins' as *;
.menu{
    display: flex;
    background: white;
    flex-direction: column;
    left: 50%;
    @include width(500);
    @include borderRadius(10);
    @include mediaBorderRadius(15);
    @media (min-width:850px) {
        position: absolute; 
    }
}
.button{
    cursor: pointer;
}
.ul{
    display: flex;
    flex-direction: column;
    background: white;
    list-style-type: none;
    @include gap(5);
    @include border(2,black);
    @include padding(5,5,5,5);
    border-top: 0;
    *{
        text-decoration: none;
    }
    li{
        cursor: pointer;
        color: black;
        @include mediaFontSize(14);
    }
    @media (max-width:850px) {
        position: fixed;
        left: 0;
        width: 100%;
    }
    @include mediaPadding(5,5,5,5);
    @include mediaGap(10);
    @include mediaTop(50);
}