@use '/src/styles/_mixins' as *;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include fontSize(24);
  @include mediaFontSize(12);
}

h1{
  @include fontSize(48);
  @include mediaFontSize(18);
}
h2{
  @include fontSize(44);
  @include mediaFontSize(16);
}

.container{
  @include padding(0,70,0,70);
  @include mediaPadding(0,10,0,10);
}