@use '/src/styles/_mixins' as *;
@use './fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Benzin-Regular";
  @include fontSize(22);
  @include mediaFontSize(10);
}
h1,h2{
  font-family: "Benzin-Semibold";
}
h1{
  @include fontSize(44);
  @include mediaFontSize(16);
}
h2{
  @include fontSize(40);
  @include mediaFontSize(14);
}

.container{
  @include padding(0,70,0,70);
  @include mediaPadding(0,10,0,10);
}