@use '/src/styles/_mixins' as *;

.section{
    display: flex;
    margin-left: 0;
    margin-right: auto;
    margin-left: auto;
    @include gap (5);
    @include mediaGap (5);
    @media ( max-width:850px){
        width: 100%;
        flex-direction: column;
        margin-left: 0 !important;
    }
    p{
        flex-wrap: wrap;
        text-align: left;
    }
}