@use '/src/styles/_mixins' as *;

.header{
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    @include height(100);
    @include mediaHeight(50);
    .link{
        color: white;
        cursor: pointer;
        text-decoration: none;
        border: 0;
        background: transparent;
        @include margin(0,10,0,0);
        @include mediaMargin (0,10,0,0);
    }
    main{
        display: flex;
        @include gap(20);
        @include mediaGap(5);
    }
}