@use '/src/styles/_mixins' as *;

.article{
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    height: auto;
    justify-content: space-between;
    align-items: center;
    &:hover{
        @include border(2,black);
    }
    @include border(2,transparent);
    @include width(500);
    @include margin(10,10,10,10);
    @include gap(20);
    @include mediaWidth(150);
    @include mediaMargin(10,10,10,10);
    @include mediaGap(10);
    @media (max-width: 850px) {
        align-items: start;
    }
    img{
        width: 100%;
    }
    a,button{
        width: 100%;
        background: red;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        cursor: pointer;
        border: 0;
        @include borderRadius (10);
        @include padding(10,20,10,20);
        @include mediaPadding(5,10,5,10);
        @include mediaBorderRadius (10);
        @media (max-width:850px) {
            flex-direction: column;
            text-align: center;
            height: auto;
        }
    }
}