@use '/src/styles/_mixins' as *;

.article{
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    height: auto;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 850px) {
        &:hover{
            @include border(2,black);
        }
    }
    @include border(2,transparent);
    @include width(500);
    @include margin(10,10,10,10);
    @include padding(5,5,5,5);
    @include gap(50);
    @include mediaWidth(150);
    @include mediaMargin(10,10,10,10);
    @include mediaGap(10);
    @media (max-width: 850px) {
        align-items: start;
    }
    img{
        width: 100%;
    }
    a{  
        text-decoration: none;
        width: 100%;
    }
}